# Servidor Backend
PORT=3000

# Conexão com o Supabase (PostgreSQL)
# Exemplo: postgres://postgres.yourprojectid:[password]@aws-0-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true
DATABASE_URL="postgresql://user:password@host:port/database"

# Autenticação JWT
JWT_SECRET="alguma-chave-secreta-e-segura-de-sua-escolha"
JWT_EXPIRES_IN="7d"
